<%-include("header.ejs")%>
<div class="container text-center " style="margin-top:10%">

    <h3>Welcome to BetVal Payment Gateway</h3>
    <form action="/deposit" method="POST">
        <div class="form-group">

            <input style="width:50%" type="Number" name="amount" placeholder="Enter the amount you want to deposit in £"
                step="0.01">
            <br><br><button class="btn btn-primary">
                Pay With PayPal
            </button></div>
    </form>

</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5f34ca99b7f44f406e947295/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->